$color-gb1: #cadc9f;
$color-gb2: #0f380f;
$color-gb3: #306230;
$color-gb4: #8bac0f;
$color-gb5: #9bcc0f;

$color-button: #a5074b;
$color-button-dark: #310216;
$color-button-light: #ae1f5d;
$color-button-lighter: #e4b4c9;

$color-dpad: #10121f;
$color-dpad-dark: #090a12;
$color-dpad-light: #242633;
$color-dpad-lighter: #3f414b;

$color-white: #e0f0e0;
$color-black: #122612;