{
  "root": true,
  "env": {
    "vue/setup-compiler-macros": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "vue/multi-word-component-names": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-spread": ["off"],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
