@font-face {
    font-family: 'Early GameBoy';
    src: url('./Early-GameBoy.woff2') format('woff2'),
        url('./Early-GameBoy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

